.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url("moulay.jpg");
  background-position: top;
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.studyabroad {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    }

.studyabroad h2 {
    color: #393c3d;
    font-size: 24px;
    }

.studyabroad p {
      font-size: 15px;
      margin-bottom: 13px;
        }

.thumbnail {
  height: 215px;
  width: 285px;
  border: 5px solid white;
  padding: 0;
}

.thumbnail p {
    display: none;
    height: 205px;
    width: 275px;
    margin: 0;
    padding: 0;
}


.thumbnail:hover p {
  display: block;
  padding: 50px;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  color: #fff;
}


.learn-more {
    background-color: #f7f7f7;
    }

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

@media (min-width: 400px) and (max-width:799px) {
	.conatiner{
		 float: left; width: 100%;
	 }
}
@media (min-width: 800px) and (max-width: 1199px) {
	.container{
		 float: left; width: 50%;
	 }

}
@media (min-width: 1200px) {
		.conatiner {
			 float: left; width: 33%;
	}
}
